@tailwind base;
@tailwind components;
@tailwind utilities;

.btn:focus {
	outline: 0;
}

.messageinput {
	max-height: 20rem;
	min-width: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hidescrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

/* small scrollbar */

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(57, 36, 36);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.scroll-bar-gray::-webkit-scrollbar-thumb {
	background: rgb(169, 159, 159);
	border-radius: 10px;
}
